body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: lightsalmon;
}

h2 {
    color: cadetblue;
}

p {
    color: darkslategrey;
}   

li {
    background-color: darkkhaki;
    color: firebrick;
}

